In [26]:
import pandas as pd

In [32]:
df = pd.read_csv("weather_data.csv", parse_dates= ["day"])

In [33]:
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [4]:
df.set_index("day", inplace =True)

In [5]:
df

           temperature  windspeed   event
day
1/1/2017          32.0        6.0    Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          28.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.1        8.1  Cloudy
1/11/2017         40.0       12.0   Sunny

In [7]:
df.loc["1/4/2017"]

temperature      NaN
windspeed        9.0
event          Sunny
Name: 1/4/2017, dtype: object

In [22]:
nan_percentage =  df.shape

In [23]:
nan_percentage

(9, 3)

In [24]:
df.count()

temperature    5
windspeed      5
event          7
dtype: int64

In [34]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

In [38]:
df["temperature"]= pd.to_numeric(df['temperature'], errors = 'coerce')

In [36]:
#df['temperature'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer